<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/57e59f05ad.js" crossorigin="anonymous"></script>
    <title>Team Building - Activity 1</title>
    <%= stylesheet '/style.css' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  </head>
  <body>
    <div class="banner" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.4) 80%), url('<%= @activity["photo_url"] %>')";>
      <div class="container container-head">
        <span class="category-detail"><%= @activity["category"].upcase %></span>
        <h1><%= @activity["name"] %></h1>
        <p><%= @descriptions[rand(10)]["short"] %></p>
      </div>
    </div>

    <div class="container container-main">
      <div class="container-activity">
        <div class="content-left">
          <a class="breadcrumbs" href="../"> < Back</a>
          <h2>Description of the activity</h2>
          <p><%= @descriptions[rand(10)]["long"] %></p>
          <h2>What Kanye says</h2>
          <p class="quote"><%= @quote%></p>
          <h2>Pictures</h2>
          <div class="photo-album">
            <div style="background-image: url('https://images.unsplash.com/photo-1511988617509-a57c8a288659')" class = "photo"></div>
            <div style="background-image: url('https://images.unsplash.com/photo-1529180979161-06b8b6d6f2be')" class = "photo"></div>
          </div>

        </div>
        <div class="content-right">
          <div class="price-box">
            <p class="price-detail"><%= @activity["price"] %>€</p>
            <p class="participants-detail">for <%= @activity["participants_count"] %> participants</p>
          </div>

          <p class="city-detail"><strong>🌍</strong> <%=  @activity["city"] %></p>
          <p class="duration-detail"><strong>🕐</strong> <%= @activity["duration"] %> minutes</p>
          <a href="" class="btn btn-book">Book activity</a>
          <a href="" class="btn btn-info">Ask for information</a>
          <p class="wishlist"><i class="fas fa-heart"> </i> Wishlist</p>
          <p class="wishlist-line">Add to wishlist for:</p>

          <form method="POST" action="/activities/<%= @activity["id"] %>/wishes">
            <select name="team_id">
              <option value="">Choose a team</option>
              <% @teams.each do |team| %>
              <option value="<%= team["id"] %>"><%= team["name"] %></option>
              <% end %>
            </select>
            <input type="submit" value="OK" class="btn-confirm">
          </form>

          <div class="wishlist-teams">
          <p class="wishlist-line">Wishlisted by <%= @current_activity_teams_wishes.count %> teams:</p>
            <% @current_activity_teams_wishes.each do |wish| %>
              <div class="wishlist-team">
                <%= wish["team_name"] %>
                <form method="POST" action="/activities/<%= @activity["id"] %>/wishes/<%= wish["id"] %>">
                  <input type="hidden" name="_method" value="DELETE">
                  <input type="submit" value="X" class="btn-confirm">
                </form>
              </div>
            <% end %>
          </div>


        </div>
      </div>
    </div>

    <div class="footer">

    </div>

  </body>
</html>
