<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Team Building - Activities</title>
    <%= stylesheet "/style.css" %>
  </head>
  <body>
    <h1>Activities</h1>
    <a href="/?location=Nantes">Nantes</a>
    <a href="/?location=Paris">Paris</a>

    <% @activities.each do |activity| %>
      <h2>
        <a href="/activities/<%= activity["id"] %>"><%= activity["name"] %></a>
        <small>[<%= activity["category"].upcase %>]</small>
      </h2>
      <ul>
        <li>Located in <%= activity["city"] %></li>
        <li>Duration of <%= activity["duration"] %> minutes</li>
        <li>For <%= activity["participants_count"] %> participants</li>
        <li>Charged <%= activity["price"] %>€</li>
      </ul>
    <% end %>
  </body>
</html>
