<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Team Building - Activity</title>
    <%= stylesheet "/style.css" %>
    <script type="text/javascript" src="/script.js"></script>
  </head>
  <body>
  <div class="activity-page">

  <div class="page-header">
    <h1>
      <%= @activity["name"] %>
    </h1>
    <span class="label label-primary category"><%= @activity["category"].upcase %></span>
  </div>

  <div class="hero" style="background-image: url(<%=@activity["photo_url"]%>)">


    <div class="activity-details">
        <div class="sub-header">
          <span class="city"><%= @activity["city"] %></span>
          <span class="price"><%=@activity["price"] %>€</span>
        </div>

        <div class="details">
          <ul>
            <li class="participants">
              <span class="icon">👥</span>  <%= @activity["participants_count"] %> participants
            </li>
            <li class="duration">
              <span class="icon">⏱</span> <%= @activity["duration"] %> min
            </li>
          </ul>

          <div class="cta">
            <a href="#" class="btn btn-large btn-bold btn-primary">Book a session</a>
          </div>

        </div>
    </div>



    <div class ="wishlist-actions">
      <a href="#" data-wishlist-dialog="#wishlist-unique-target-name" class="wishlist-action btn btn-light"><span class="icon">🖤</span>Add to wishlist
        <span class="label label-primary wishlist-count"><%=@wishlist_count%></span>
      </a>
      <div class="wishlist hidden" id="wishlist-unique-target-name">
      <h2>Teams</h2>
      <ul class="choices">
        <% @teams.each do |team| %>
          <% if @wishlist.include?team["id"] %>
          <li class="choice">
              <form action="/activities/<%= @activity["id"]%>/wishlist/<%= team["id"] %>" method="post">
              <input name="_method" value="DELETE" type="hidden">

                <button class="btn btn-default active">
                  <span class="icon">🖤</span>
                  <%= team["name"]%>
                </button>

              </form>
            </li>
          <% else %>
            <li class="choice">
              <form action="/activities/<%= @activity["id"]%>/wishlist/<%= team["id"] %>" method="post">


                <button class="btn btn-default btn-outline">
                  <%= team["name"] %>
                </button>

              </form>
            </li>
          <% end %>
        <% end %>
      </ul>
      </div>
    </div>

  </div>

  <div>

    <form action="/activities/<%= @activity["id"]%>/reviews" method="post" class="review-form">

    <div style="margin-bottom: 20px">
      <h2>Express yourself</h2>
      <% 5.times do |count| %>

          <input type="radio" id="grade_<%=count%>" name="grade" value="<%=count%>">
          <label for="grade_<%=count%>">
            <%=count+1%>
          </label>
        <% end %>
    </div>
    <div>
      <textarea id="comment" name="comment" placeholder="Write your awesome comment here..." rows="5" cols="33"></textarea>
    </div>

     <div>
        <a href="#" data-wishlist-dialog="#review2-unique-target-name" class="wishlist-action btn btn-light"><span class="icon">👥</span>show yourself</a>
        <div class="wishlist hidden" id="review2-unique-target-name">
        <h2>Who are you?</h2>
        <ul class="choices">

        <% @employees.each do |employee| %>

          <input type="radio" id="employee_<%=employee["id"]%>" name="employee_id" value="<%=employee["id"]%>" class="hidden">
          <label for="employee_<%=employee["id"]%>" class="btn btn-default btn-outline btn-employee">
            <span>
              <img class="user_picture" src=<%=employee["picture_url"]%> alt="">
            </span>
            <%= employee["first_name"]%>
            <%= employee["last_name"]%>
          </label>
        <% end %>

        </ul>
        </div>
    </div>

    <button class="btn btn-default btn-outline">Submit</button>


  </form>
  </div>
  </div>

  <div class="activity-cards-container">

      <%@reviews.each do |review|%>
      <div class="activity-card">
      <%reviewer = @employees.find {|employee| employee["id"] == review["employee_id"]} %>
      <span>
          <img class="picture" src=<%=reviewer["picture_url"]%> alt="">
      </span>
      <div class="activity-details">
      <div class="sub-header">
        <div>
            <% review["grade"].times do%>
              ⭐
            <%end%>
        </div>
        <div>
            <%= Date.parse(review["date"]).strftime("%d/%m/%Y")%>
        </div>

      </div>
      </div>
        <div class="header">
        <h2><%=review["comment"]%></h2>
        <em><%= reviewer["first_name"]%></em>
        </div>
      </div>
    <%end%>
    </div>



  </body>
</html>
