<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Team Building - Activity</title>
    <%= stylesheet "/style.css" %>
    <script type="text/javascript" src="/script.js"></script>
  </head>
  <body>
    <h1>
      <%= @activity["name"] %>
      <small>[<%= @activity["category"].upcase %>]</small>
    </h1>
    <ul>
      <li>Located in <%= @activity["city"] %></li>
      <li>Duration of <%= @activity["duration"] %> minutes</li>
      <li>For <%= @activity["participants_count"] %> participants</li>
      <li>Charged <%= @activity["price"] %>€</li>
      <li>My teams are <%= @teams%> </li>
      <li>Wishlist <%= @wishlist%> </li>
    </ul>
  </body>
</html>
