<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Team Building - Activities</title>
    <%= stylesheet '/style.css' %>
    <script type="text/javascript" src="/script.js"></script>
  </head>

  <body>
    <div class="activity-page">
      <div class="page-header">
        <h1 title="/"><%= @activity["name"] %></h1>
        <span class="label label-primary category"><%=@activity["category"].upcase %></span>
       </div>
      <div class="hero" style="background-image: url(<%=@activity["photo_url"]%>)">
        <div class="activity-details">
          <div class="sub-header">
            <span class="city"><%= @activity["city"]%></span>
            <span class="price"><%= @activity["price"]%> euros</span>
          </div>
          <div class="details">
            <ul>
              <li class="participants">
                <span class="icon">👥</span> <%= @activity["participants_count"]%> participants
              </li>
              <li class="duration">
                <span class="icon">⏱</span> <%= @activity["duration"]%>min
              </li>
            </ul>
            <div class="cta">
              <a href="#" class="btn btn-large btn-bold btn-primary">Book a session</a>
            </div>
            <div class="favorites">
              <a href="#" data-wishlist-dialog="#wishlist-unique-target-name" class="wishlist-action btn btn-light"><span class="icon">🚀</span> Add to wishlist</a>

              <div class="wishlist hidden" id="wishlist-unique-target-name">
                <form>
                  <h2>Choose your site</h2>
                    <% @sites.each do |site| %>
                    <ul class="choices">
                      <li class="choice">
                        <input type="checkbox" id="<% site["id"]%>" name="<% site["name"]%>" value="<% site["name"]%>">
                        <label for="<% site["id"]%>"> <%= site["name"]%> </label><br>
                      </li>
                    </ul>
                    <% end %>
                    <input type="submit" value="Submit" class="btn btn-primary">
                </form>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      </div>
    </div>
</body>
