<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Team Building - Activities</title>
    <%= stylesheet '/style.css' %>
  </head>
  <body>
    <div class="banner">
      <div class="container">
        <h1>Lucca Teambuilding</h1>
        <p>
          Build your team.
        </p>
        <a class="btn-orange" href="#ask4more">I want to build my team</a>

      </div>
    </div>



    <div class="container">

      <h3>Our activities</h3>
        <div class="cards">
          <div class="card">
            <img src="images/building.jpg" alt="Les chaussettes Lucca">
            <h3>Socks</h3>
          </div>
          <div class="card">
            <img src="images/building.jpg" alt="Les T-shirts Lucca">
            <h3>T-shirts</h3>
          </div>
          <div class="card">
            <img src="images/building.jpg" alt="Les accessoires Lucca">
            <h3>Accessories</h3>
          </div>
        </div>


    </div>




    <h1>Activities</h1>
    <% @activities.each do |activity| %>
    <p><%= "#{activity["name"]} [#{activity["category"].upcase}]" %></p>
    <p><%= "Located in #{activity["city"]}" %></p>
    <p><%=  "Duration of #{activity["duration"]} minutes" %></p>
    <p><%=  "For #{activity["number_of_participants"]} participants" %></p>
    <p><%=  "Charged #{activity["price"]}€" %></p>
  <% end %>
  </body>
</html>
