<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Team Building - Activities</title>
    <%= stylesheet '/style.css' %>
  </head>
  <body>
    <div class="banner">
      <div class="container">
        <h1>Lucca Teambuilding for building teams</h1>
        <p>
          Build your team. A built team is better than a team not built.
        </p>
        <a class="btn-orange" href="#ask4more">I want to build my team</a>

      </div>
    </div>



    <div class="container">

      <h3>Our activities to build your team</h3>
        <div class="cards">
         <% @activities.each do |activity| %>
          <div class="card">
            <img src="<%= activity["img"] %>" alt="<%= activity["name"] %>">
            <div class="detail">
              <h3><%= activity["name"] %></h3>
              <div class="inline-details">
                <p class="city"><%= activity["city"] %></p>
                <p class="participants"><%=  activity["number_of_participants"] %> participants</p>
              </div>
              <div class="inline-details">
                <p class="duration"><%=  activity["duration"] %> minutes</p>
                <p class="price"><%=  activity["price"] %> €</p>
              </div>

            </div>

            <p><%= activity["category"].upcase %></p>
          </div>
        <% end %>

        </div>

    </div>


  </body>
</html>
